@use 'base';

footer {
  background-color: base.$primary-color;
  color: base.$secondary-color;

  a {
    color: base.$secondary-color;

    &:hover {
      transform: scale(1.05);
    }

    &:visited {
      color: #999;
    }
  }
}