@use 'base';

.form {
  font-family: base.$font-stack;
  color: base.$primary-color;
  border-bottom: solid 2px base.$primary-color;
  display: block;

  input {
    width: 60%;
  }
}

#submit {
  background-color: base.$primary-color;
  color: base.$secondary-color;
  margin: 1em 0em 1em 0em;

  &:hover{
    cursor: pointer;
    transform: scale(1.05);
  }
}