@use 'base';

.form {
  font-family: base.$font-stack;
  color: base.$primary-color;
  border-bottom: solid 2px base.$primary-color;
  display: block;

  input {
    width: 60%;
  }
}

.button {
  background-color: base.$primary-color;
  color: base.$secondary-color;
  margin: 1em 0em 1em 0em;
  font-family: base.$font-stack;
  padding: 4px;

  &:hover{
    cursor: pointer;
    transform: scale(1.05);
  }
}

@media only screen and (min-width: 900px) {
  .form {
    font-size: 1.5em;

    input {
      font-size: 1em;
    }
  }

  .button {
    font-size: 1em;
  }
}