@use 'base';

.main-hero {
  min-height: 5vh;
  font-family: base.$font-stack;
  color: base.$primary-color;
  display: block;
  //margin: 1em 0em 0em 0em;

  h1 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 900px) {
  .main-hero {
    min-height: 7vh;

    h1 {
      font-size: 5em;
    }
  }
}