@use 'base';

#entry {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid 2px base.$primary-color;
  border-radius: 5px;
  font-family: base.$font-stack;

  div {
    padding: 5px;
  }

  h2 {
    padding: 5px 0px 0px 2px;
    text-decoration: underline;
  }
}

@media only screen and (min-width: 900px) {
  #entry {
    div {
      font-size: 1.25em;
    }
  }
}