@use "base";

#entry {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid 2px base.$primary-color;
  border-radius: 5px;
  font-family: base.$font-stack;
  animation: addColor 2s forwards ease-in;
  padding: 12px 0;

  div {
    margin: 12px 0 0 20px;
  }

  h2 {
    margin: 8px 0 0 10px;
    text-decoration: underline;
  }
}

@media only screen and (min-width: 900px) {
  #entry {
    div {
      font-size: 1.25em;
    }
  }
}

@keyframes addColor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
